name: CI

on:
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:
    runs-on: macos-15

    steps:
    - uses: actions/checkout@v3

    - name: Lint
      run: make lint

    - name: Build
      run: make build

    - name: Test
      run: make test
